#container {
  position: absolute;
  left: 0;
  top: 0;
}

#node-detail-button {
  position: absolute;
  left: 50%;
  bottom: 60px;
}

#help-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.center-children {
  text-align: center;
}

.mugshot {
  padding-bottom: 15px;
}

.property {
  margin-bottom: 10px;
}
